# Ignore .env file
.env

# Ignore .venv files
.venv

# Ignore .vscode files
.vscode

# Ignore env directory
env/
GCC.JSON

# Ignore all .log files
*.log

# Ignore model_cache directory
/modules/Providers/HuggingFace/model_cache

# Ignore mp3, mp4, and wav audio/video files in assets
*.mp3
*output.wav

# Ignore all SQLite database files and associated temporary files
*.db
*.db-shm
*.db-wal

# Ignore Python bytecode files
*.pyc
*.cpython-310.pyc

# Ignore Python cache directories
__pycache__/

# Ignore all Workspace directories under any module
*/Workspace/

# Ignore user profile files (JSON, text, and database files) in user_profiles
/modules/user_accounts/user_profiles/*


